define("DB_HOST","localhost");  
define("DB_NAME","dbecommerce");
define("DB_USERNAME","your_db_username");
define("DB_PASSWORD","your_db_password");
define("MAIL_HOST", "smtp.example.com");
define("MAIL_PORT", 465);
define("MAIL_NAME", "your_mail_name");
define("MAIL_SMTPSECURE", "ssl");
define("MAIL_USERNAME", "your_email@example.com");
define("MAIL_PASSWORD", "your_password");
define("STRIPE_SECRET", "your_stripe_secret");
define("STRIPE_WEBHOOK", "your_stripe_webhook_secret");