.env
!.env.example
/vendor/
composer.lock
*.log
/cache/
tmp/
/storage/
node_modules/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.phpunit.result.cache
*.bak
*.tmp
*.swp
docker-compose.override.yml
nbproject/
public/adminlte/*
